.profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.sectionPicContainer img {
    width: 400px;
    height: 400px; 
    object-fit: cover; 
    border-radius: 50%;
}

.sectionText {
    align-self: center;
    text-align: center;
}

.sectionTextP1 {
    text-align: center;
}

.sectionTextP2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 3rem;
    text-align: center;
}

.socialsContainer {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.btnContainer {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btnColor1, .btnColor2 {
    border: rgb(53, 53, 43) 0.1rem solid;
}

.btnColor1:hover, .btnColor2:hover {
    cursor: pointer;
}

.btnColor1, .btnColor2:hover {
    background: rgb(53, 53, 53);
    color: white;
}

.btnColor1:hover {
    background-color: rgb(0, 0, 0);
}

.btnColor2 {
    background: none;
}

.btnColor2:hover {
    border: rgb(255, 255, 255) 0.1rem solid;
}

.icon {
    cursor: pointer;
    height: 2rem;
}

@media screen and (max-width: 1400px) {
    .profileSection {
        height: 83vh;
        margin-bottom: 6rem;
    }
}

@media screen and (max-width: 1200px) {
    .profileSection {
        display: block;
    }

    .profileSection {
        height: fit-content;
    }

    .profileSection {
        margin: 0 5%;
    }

    .sectionPicContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .sectionPicContainer img {
        width: 350px;
        height: 350px;        
        display: block;
        margin: 0 auto;
        align-items: center;
        object-fit: cover;
    }
}

@media screen and (max-width: 600px) {
    .profileSection {
        height: 83vh;
        margin-bottom: 0;
    }

    .btnContainer { 
        flex-wrap: wrap;
    }

    .sectionPicContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .sectionPicContainer img {
        width: 350px;
        height: 350px;        
        display: block;
        margin: 0 auto;
        align-items: center;
        object-fit: cover;
    }

    .title {
        font-size: 2rem;
    }
}
